# IDE specific
.idea/
.vs/

# Build output folders
Publish/
publish/
buildPublish/
out/

# Project specific build outputs
AcerSense/obj/
AcerSense/bin/

# Python daemon build outputs
Daemon/build/
Daemon/dist/
__pycache__/
*.pyc
Daemon/AcerSense-Daemon

# Ignored source/template directories

/Linuwu-Sense/
